/* Basic navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: white;
  color: #333;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
  height: 50px; /* Fixed height */
  position: fixed; /* Fixes the navbar at the top */
  width: 100%; /* Ensures it spans the full width of the viewport */
  top: 0; /* Positions the navbar at the top */
  z-index: 1000; /* Ensures it stays above other content */
}

/* Logo styling */
.logo {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  background-image: linear-gradient(to right,dodgerblue, rgb(85, 68, 177),rgb(180, 63, 180),rgba(255, 25, 0, 0.913),orange);
  -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  
  
}

/* Navigation links styling */
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.nav-links li {
  margin-left: 20px; /* Space between links */
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a:hover {
  color: #007BFF;
}

/* Hamburger menu icon */
.hamburger {
  display: none; /* Hidden by default */
  cursor: pointer;
  font-size: 1.5em; /* Adjust size as needed */
}

/* Responsive styling for navbar */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav-links {
      display: none; /* Hidden by default on small screens */
      flex-direction: column;
      width: 100%;
      padding: 0;
      background-color: white; /* Ensure background color */
      position: absolute;
      top: 50px; /* Position it below the navbar */
      left: 0;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
      z-index: 999; /* Ensure it stays above other content */
  }

  .nav-links.active {
      display: flex; /* Show menu when active */
  }

  .nav-links li {
      margin: 10px 0;
      text-align: left;
      width: 100%;
    }
    
    .nav-links a {
      font-size: 1.2em;
      width: 100%;
      padding: 10px 20px;
  }

  .hamburger {
      display: block; /* Show the hamburger icon on small screens */
  }
}

/* Ensure the main content doesn't overlap with the fixed navbar */
main {
  padding-top: 10px; /* Adjust based on the height of the navbar */
}
